<section class="class-converter">
  <div class="selection">
    <select #select1 id="rate1" (mouseleave)="changecurr1(select1.value)" (keyup)="getValue1(money_tag1.value)">
      <option value="UAH">UAH</option>
      <option value="USD">USD</option>
      <option value="EUR">Euro</option>
      <option value="GBP">GBP</option>
    </select>
    <form>
      <input type="text" #money_tag1 id="money1" maxlength="20" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1').replace(/^0{1}/g, '');" (keyup)="getValue1(money_tag1.value)" placeholder="200.00"/>
    </form>
  </div>
  <div class="rate">
    <button (click)="swap(select1.value, select2.value)">&#8645;</button>
    <span>1 {{curr1}} = {{result}} {{curr2}}</span>
  </div>
  <div class="selection">
    <select #select2 id="rate2" (mouseleave)="changecurr2(select2.value)" (keyup)="getValue2(money_tag2.value)">
      <option value="UAH">UAH</option>
      <option value="USD">USD</option>
      <option value="EUR">Euro</option>
      <option value="GBP">GBP</option>
    </select>
    <input type="text" #money_tag2 id="money2" maxlength="20"  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1').replace(/^0{1}/g, '');" (keyup)="getValue2(money_tag2.value)" placeholder="200.00"/>
  </div>
</section>
