<div class="preloader" *ngIf="loader">
  <picture>
    <source media="(min-width: 1280px)" srcset="../assets/privat24.png 2x" >
    <source media="(min-width: 640px)" srcset="../assets/privat24.png 4x" >
    <source media="(min-width: 0px)" srcset="../assets/privat24.png 6x" >
    <img src="../assets/privat24.png" alt="" >
  </picture>
</div>
<div class="preloader" *ngIf="loader">
  <h1 data-text="Loading...">
    Loading...
  </h1>
</div>

<div class="head" *ngIf="!loader">
  Конвертер валют
</div>
<app-head *ngIf="!loader"></app-head>
<app-converter *ngIf="!loader"></app-converter>
